@model App.Domain.Core.Dtos.CardInfoDto


@{
	ViewData["Title"] = "Destination Information";
}

<div class = "TransactionCredentialsContainer">
@if (TempData["ErrorMessage"] != null)
{
	<div class = "alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
	<div>
		<a asp-action = "Index" class = "btn btn-secondary">Back</a>
	</div>
} 
else {
<h2>Destination Card Holder</h2>
<div>
	<h5>Card Holder Information</h5>
	<p>Name: @Model.Holdername</p>
	<p>Card Number: @Model.Cardnumber</p>
</div>
<div>
	<a asp-action = "Verify" class = "btn btn-primary">Confirm</a>
	<a asp-action = "Index" class = "btn btn-secondary">Back</a>
</div>
}
</div>

<style>
	.TransactionCredentialsContainer
	{
		width: 350px;
		margin: 100px auto;
		padding: 25px;
		background: #ffffff;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	h2 
	{
		font-size: 26px;
		color: #007bff;
		margin-bottom: 20px;
		text-align: center;
		font-weight: bold;
	}
</style>





