@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To X Bank</h1>
    <p>Please Hit This Link To <a asp-controller = "User" asp-action="Index"> Login</a>.</p>
</div>
